*
{
	background-color: #66FFF8;
	color: #071B81;
	
	
}	
h1
{
	background-color: #BF0404;
	text-align:center;
	text-decoration:underline;
}
p
{
	color:black; 
	font-family:arial;
	font-size:15px;
	
	
}
img
{
 width:250px; height:250px;
}
six-columns{
	width:16%;
	display:inline-block;
}
